@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_InnerPage.cshtml";
}
<h2>@ViewBag.Title</h2>

<p>A Seller Management is an Internet-enabled, often Web-based application that acts as a mechanism for business to manage and procure staffing services – temporary, and, in some cases, permanent placement services – as well as outside contract or contingent labor. Typical features of a VMS application include order distribution, consolidated billing and significant enhancements in reporting capability that outperforms manual systems and processes.</p>
